---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>About</h1>
        <p>网名：冰原沙漠气候/ IcyDesert</p>
        <p>
            高一开始自学计算机技术，技术发展路线：Python、HTML+CSS+Javascript ->
            C -> C++ -> Go
        </p>
        <p>《我的世界》生电玩家，欢迎交流！</p>
    </body>
</html>
