---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>blog-struggle for icyds.net</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>Struggle for icyds.net</h1>
        <p>选域名选好久，从 icy.dev 到 icy.lands</p>
        <p>付款付半天</p>
    </body>
</html>